name: SBOM with tag release

on:
  push:
    tags:
      - 'v*'

jobs:
  run_on_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run script on release
        run: |
          echo "New release created: ${{ github.event.release.tag_name }}"
          # Run your desired script or command here
          pip install cyclonedx-bom
          cyclonedx-py -r -i ../logicmonitor_data_sdk_py/requirements.txt --format json -o sbom.json
          ls
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          # Artifact name
          name: sbom_report
          # A file, directory or wildcard pattern that describes what to upload
          path: sbom.json
#       - name: release
#         uses: actions/create-release@v1
#         id: create_release
#         with:
#           draft: false
#           prerelease: false
#           release_name: ${{ steps.version.outputs.version }}
#           tag_name: ${{ github.ref }}
#           #body_path: sbom.json
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload files to a GitHub release
        uses: svenstaro/upload-release-action@2.5.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: sbom.json
          asset_name: sbom
          tag: ${{ github.ref }}
          overwrite: true
          body: "SBOM for release"



